

.imputForm {
    margin-left: 30px;
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: solid 1px grey;
}





.buttonAdd {
    display: flex;
    margin-left: 20px;
    padding: 8px;
    background-color: rgb(31, 237, 31);
    color: white;
    border-radius: 4px;
    border-color: rgb(31, 237, 31);
    cursor: pointer;
    text-shadow: 3px 3px 5px grey;
    font-weight: bold;
    &:hover{
        color: white;
        font-weight: bold;
    }
}

.wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

}

.field {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
}
.labelForm{
    margin-right: 30px;
}