.container{

        border-radius: 4px;
        box-shadow: 5px 5px 5px 5px rgb(8, 167, 220);
        background-color: linear-gradient(to right, #3a6186, #89253e);
}
.label{
        text-align: center;
        text-shadow: 3px 3px 5px grey;
}
.filter{
    margin-top: 25px;
}